<div class="container-xl text-center">

  <div class="display-6">
    <strong>Pokédex</strong>
  </div>

<!--card-->
<div class="card m-3 shadow rounded" style="max-width: 1200px;">
  <div class="row m-3">
    <div class="col-lg">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png" width="600px"   heightclass="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-lg">
      <div class="card-body">
        <h5 class="card-title">NOME DO POKEMON</h5>
        <p class="card-text">Número</p>
        <p class="card-text">Altura</p>
        <p class="card-text">Peso</p>
      </div>
    </div>
  </div>
</div>

<!-- botoes-->
<div class="d-grid gap-2 d-md-block ">
  <button class="btn btn-warning  btn-outline-danger btn-lg" type="button">Anterior</button>
  <button class="btn btn-warning   btn-outline-danger btn-lg"  type="button">Próximo</button>
</div>
</div>


